.snacks-div {
  display: flex;
  justify-content: center;
}

.single-snack-div {
  margin: 100px;
  width: 200px;
}

.single-snack-div img {
  width: 100%;
}

.snack-img-div {
  margin: 20px;
}

.snack-detail {
  margin: 30px;
}
