.container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 50px;
}

.description {
  height: 200px;
  width: 300px;
}

.container-two {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

#container-two-pic1 {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 600px;
  width: 500px;
}

#container-two-pic1 img {
  width: 100%;
}

#container-two-pic2 {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 600px;
  width: 500px;
}

#container-two-pic2 img {
  width: 100%;
  height: 80%;
  /* background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fpartycity6.scene7.com%2Fis%2Fimage%2FPartyCity%2F_pdp_sq_%3F%24_1000x1000_%24%26%24product%3DPartyCity%2F863438_01&f=1&nofb=1"); */
}

.promotion-button {
  display: inline;
  height: 20px;
  width: 150px;
}
