.flavors-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.flavors {
  margin: 20px;
  border: solid black 2px;
  width: 20%;
  height: 100px;
}

.flavor-pic-div {
  border: solid red 2px;
}

.mapped-flavors a {
  text-decoration: none;
}
