nav {
  background-color: rgba(255, 42, 42, 0.986);
  display: grid;
  grid-template-areas: "L B s s U C";
  align-items: center;
}

nav a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.986);
}

nav button {
  margin: 5px 5px 30px 5px;
}

.links {
  grid-area: L;
  display: flex;
}

.brand {
  grid-area: B;
}

.user {
  grid-area: U;
}

.cart {
  grid-area: C;
}

.greeting-msg {
  font-size: 16px;
  font-weight: 800;
  color: white;
}
