.singleSnack {
  display: flex;
  flex-direction: row;
  border: solid rgba(51, 51, 51, 0.308) 1px;
  display: flex;
  border-radius: 10px;
  margin-bottom: 30px;
  width: 130%;
  height: 100%;
  max-height: 200px;
  text-decoration: none;
  color: rgb(77, 77, 77);
  box-shadow: 1px 1px 1px rgba(20, 20, 20);
}

.single-snack-div :hover {
  transform: scale(1.1);
  box-shadow: 10px 5px 5px rgb(77, 77, 77);
}

.singleSnackImg {
  max-width: 150px;
  max-height: 200px;
  height: 70%;
  margin: 15px;
}

.details-container {
  display: flex;
  width: 100%;
  /* height: 30%; */
  flex-direction: column;
  justify-content: center;
}

.detail-text {
  margin: 5px;
}
